@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.font-urbanist {
  font-family: "Urbanist", sans-serif;
}

 /* inside global css */
.input-style {
  @apply w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500;
}



@plugin "daisyui/theme" {
  name: "QuickShift";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: #FFFFFF;
  --color-base-200: #F9F9FA;
  --color-base-300: "#EAECED";
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: #CAEB66;
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: #03373D;
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: #0B0B0B;
  --color-neutral-content: #FFFFFF;
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

}